<main>
    <nav class="nav">
        <button class="nav__button" id="back">
            <img src="/svg/nav-back.svg" alt="">
        </button>
        <button class="nav__button" id="forward">
            <img src="/svg/nav-forward.svg" alt="">
        </button>
        <button class="nav__button" id="reload">
            <img src="/svg/nav-reload.svg" alt="">
        </button>
        <button class="nav__button" id="home">
            <img src="/svg/nav-home.svg" alt="">
        </button>
        <input type="text" class="nav__input" id="input">
        <button class="nav__button" id="go">
            <img src="/svg/nav-go.svg" alt="">
        </button>
    </nav>
</main>